.library{
  max-width: 1140px;
  padding: 20px;
  font-family: inherit;
  color: #333;
  background-color: #f0f0f0;
  border-radius: 20px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4);
  margin-top: 20px;
  margin-bottom: 20px;
}
.search{
  display: flex;
}
.search__input{
  justify-content: center;
  display: flex;
}
.search__button{
  display: flex;
  margin-left: 8px;
}
.sort__label{
  margin-left: 3px;
}
.library__no-results{
  margin-top: 1rem;
  text-align: center;
  font-size: 1rem;
}
.book__title {
  font-weight: bold;
}
.book {
  padding: 15px;
  margin-bottom: 10px;
  background-color: #fff;
  border: 1px solid #ddd;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  transition: transform 0.2s, box-shadow 0.2s;
}

.book:hover {
  transform: translateY(-3px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

@media (max-width: 768px){
  .search{
    flex-direction: column;
    align-items: center;

  }
  .library{
    max-width: 90%;
    margin-bottom: 10px;
  }
  .sort__label{
    display: flex;
    justify-content: center;
    text-align: center;
    margin-bottom: 0.5rem;
  }
  .sort__select {
     width: 100%;
     max-width: 100%;
     box-sizing: border-box;
   }

}