.library {
  max-width: 1140px;
  padding: 20px;
  font-family: inherit;
  color: #333;
  background-color: #f0f0f0;
  border-radius: 20px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4);
  margin-top: 20px;
  margin-bottom: 20px;
}

.library__title {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 20px;
}

